* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.header li.active {
    background-color: #555;
}

.header li:hover {
    background-color: #777;
}

.button {
    background: inherit;
    color: black;
    border: none;
    padding: 0.5rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: bold;
}

.recipe{
    color: #16465d;
    background: #c8eafa;
    font-size: 3em;
    padding: 5px;
    margin-top: 10px;
    white-space: nowrap;
    border-radius: 10px;
    box-shadow: 5px 5px #282c34;
}

.overview{
    color: #ff3784;
    display: flex;
    font-size: 1em;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header1 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 0em;
    margin-bottom: 1em;
    background-color: rgb(26, 192, 134);
    color: #fff;
    box-shadow: 5px 10px #282c34;
}