.header1 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 0em;
    margin-bottom: 1em;
    background-color: rgb(26, 192, 134);
    color: #fff;
    box-shadow: 5px 10px #282c34;
}