@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

:root{
    --background-color: #2f3e47;
    --background-color2: #222d34;
    --hover-color: #4a6270;
    --font-color: white;
    --button-color: #27343d;
    --button-green: #2aca71;
    --button-red: #ef696e;

    --transition: 300ms ease-in-out;
}
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);

}

body {
    /*background: #ACE1AF linear-gradient(#d4e3d5, transparent);
    background-image: linear-gradient(to top, #b9e3bc 0%, #deecdd 100%);*/
    background: var(--background-color);
    min-height:100vh;
}

.container {
    margin: 1rem;
    text-align: center;
}

.footer {
    background-color: var(--background-color2);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
}

.footer a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.header {
    background-color: var(--background-color2);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 3rem;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.header li {
    transition: 300ms ease-in-out;
}

.header li:hover {
    background-color: var(--hover-color);
}

.button {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    background: var(--button-color);
    border: none;
    padding: 0.5rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: bold;
    border-radius: 0.2rem;
    transition: var(--transition);
}

.button:hover{
    background: #777777;
}

.RecipeOverviewFlex{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    gap: 5rem 2rem;
}

.recipeButtonFlex{
    flex-grow: 1;
    flex-basis: 33%;
    text-decoration: none;
    background: var(--button-color);
    border-style: none;
    border-width: 0.15rem;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    font-weight: bold;
    transition: var(--transition);

}

.RecipeOverview{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 0;
    list-style: none;
    gap: 2rem 2rem;
}

.recipeButton{
    height: 120px;
    text-align: center;
    background: var(--button-color);
    border-style: none;
    border-width: 0.15rem;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: var(--transition);
}

.recipeButton:hover{
    background: var(--hover-color);
}

.fillDiv{
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ingredientButton {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    background: var(--button-color);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.2rem;
    transition: var(--transition);
}

.ingredientButton:hover{
    background: var(--hover-color);
}

.InventoryOverview{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    gap: 2rem;
}

.recipeView{
    box-sizing: border-box;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.recipeIngredients{
    float:left;
    width: 30%;
}

.recipeIngredients ul{
    text-align: left;
}

.recipeDescription{
    float:right;
    width: 70%;
}

select, input, textarea, option, button {
    background-color: var(--button-color);
    border-radius: 0.2rem;
    border-style: none;
    margin: 0.25rem;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    transition: var(--transition);
}

input {
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    Border: none;
    color: white;
    Border-bottom: 1.5px solid white;
}

select:hover{
    background-color: var(--hover-color);
}

button:hover{
    background-color: var(--hover-color);
}

.filter {
    position: absolute;
    display: inline-block;
    left: 2%;
    transform: translateY(-45%);

}

.filter__dropdown {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    display: none;
    width: 16rem;
    z-index: 50;
    left: 0;
    max-height: calc(100vh - 152px);
    position: absolute;
    margin-top: 0.5rem;
    background-color: var(--background-color2);
}

@media (min-width: 768px) {
    .filter__dropdown {
        display: block;
    }
}

.filter__dropdown__actions {
    border-top-width: 1px;
    border-top-color: white;
    border-top-style: solid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem 0.5rem 0.25rem 0.5rem;
}

.filter__dropdown__actions_apply{
    border-radius: 0.125rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--button-green);
    border-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

.filter__dropdown__actions_cancel{
    border-radius: 0.125rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--button-red);
    border-color: transparent;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    left: 5%;
}

.alert {
    position: relative;
    border-style: solid;
    padding: 1rem;
    width: 25%;
    margin-bottom: 2rem;
    background: var(--button-color);
    margin-left: 50%;
    transform: translate(-50%);
}